* {
    margin: 0;
    padding: 0;
}

.profilfoto {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#chatlist {
    background-color: green;
}

.friends {
    border: none;
}

.friends:hover {
    background-color: red;
    /* cursor: pointer; */
}

.activedfriend {
    background-color: blue;
}
